body {
  font-family: "Montserrat", sans-serif;
}

.bg {
  background: linear-gradient(
      271deg,
      #ebfff5 0.44%,
      rgba(235, 255, 245, 0) 50.31%
    ),
    linear-gradient(90deg, #ebfff5 2.15%, #fff 53.12%);
}

.background {
  background: linear-gradient(
      273deg,
      rgba(235, 255, 245, 0.5) 7.83%,
      rgba(235, 255, 245, 0) 49.85%
    ),
    linear-gradient(
      121deg,
      rgba(235, 255, 245, 0.5) 14.46%,
      rgba(240, 250, 246, 0.26) 33.72%,
      rgba(245, 245, 247, 0) 53.91%
    );
}
